EXPO_PUBLIC_API_URL=https://backend-root-cafe-main-production.up.railway.app
EXPO_PUBLIC_SOCKET_URL=https://backend-root-cafe-main-production.up.railway.app
EXPO_PUBLIC_TERMS_URL=
EXPO_PUBLIC_PRIVACY_URL=
